.CouresMateialTabel-section {
    margin-top: 5rem;
}

.CouresMateialTabel-section .container .courseTable table .table-img img {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 50px;
}