.page-header {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: var(--mainBgColor);
    margin-top: 6rem;
}