/*=====================Start trend Courses Section =================*/
.CoursesSection-H{
    margin-bottom: 6rem;
}
.courses-container {
    display: flex;
    flex-direction: column;
}

.courses-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.courses-top-left {
    flex: 2;
}

.courses-top-left span {
    color: var(--mainColor);
    font-weight: 700;
}

.courses-top-left h3 {
    font-size: 38px;
    line-height: 44px;
    margin: 10px 0;
}

.courses-top-left p {
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 1rem;
}

.courses-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

}

/*=====================Responsive =================*/

@media (max-width:767px) {

    .courses-top {
        flex-direction: column;
    }

    .courses-top-right {
        width: 100%;
        margin: 1rem 0 5rem;
    }

    .courses-bottom {
        grid-template-columns: 1fr;
        width: 80%;
        margin: 0 auto;
    }
}

