/*=============================Course Card===================================*/

.course-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px dashed var(--secondaryFontColor);
  border-radius: 5px;
  padding: 1.5rem;
  transition: var(--transition);
}

.course-card:hover {
  border: none;
  box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.25);
}

.course-card-image {
  flex: 1;
  padding: 0 1rem;
}

.course-card-image img {
  border-radius: 50%;
  margin: 0 auto;
}

.course-card-content {
  flex: 2;
}

.course-card-content h3 {
  margin: 15px 0;
}

.course-card-content h3 a {
  font-size: 24px;
  font-weight: 700;
  transition: var(--transition);
}

.course-card-content h3 a:hover {
  color: var(--mainColor);
}

.course-meta span {
  margin-right: 15px;
  display: inline-block;
  font-size: 14px;
}

.course-meta span .course-instructor {
  color: var(--mainColor);
}

.course-lessons svg {
  font-size: 14px;
  margin-right: 7px;
}
.course-lessons strong {
  margin-right: 5px;
}


.course-grade{
  color: red;
  margin: 1rem 0;
  font-size: 1.1rem !important;
}
/*=============================V-card===================================*/

.v-card.course-card {
  flex-direction: column;
  text-align: center;
}

.v-card.course-card .course-card-image img {
  border-radius: 5px;
}

/*=============================Responsive===================================*/

@media (max-width: 992px) {
  .course-card {
    flex-direction: column;
    text-align: center;
  }
  .v-card.course-card {
    /* width: 80%; */
    margin: 0 auto;
  }
}
