/*=====================start New Courses Section =================*/

.newCourses-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

}

.newCourses-card.course-card {
    flex-direction: column;
    text-align: center;
}

.newCourses-card.course-card .course-card-image img {
    border-radius: 5px;

}

/*=====================Responsive =================*/
@media (max-width: 767px) {
    .container.newCourses-container {
        grid-template-columns: 1fr;
        width: 80%;
    }
}