.btn.btn-delete{
    background-color: red;
        padding: 0.6rem 1rem;
        border: 2px solid red;
}

.btn.btn-Update{
        background-color: #009f00;
            padding: 0.6rem 1rem;
            border: 2px solid #009f00;
            margin-left: 7px;
}
.btn.btn-show{
            background-color: #0d6efd;
                padding: 0.6rem 1rem;
                border: 2px solid #0d6efd;
                margin-left: 7px;
}
.btn.btn-delete:hover{
    background-color: var(--mainFontColor);
}
.btn.Add-btn{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn.Add-btn svg{
        font-size: 1.5rem;
        margin-left: 10px;
}
.table-header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.table-header h3{
    margin: 0;
    padding: 0;
}
.table-img{
    width: 100px;
}
.table-img img{
    border-radius: 50%;
}
.table-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
/*==========================add user==================================*/

.addUser-section {
    margin-top: 6rem;
    padding: 3rem 0;
}

.container.addUser-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.addUser-container h1 {
    margin: 2rem 0;
}

.AddUser-form {
    width: 100%;
}

.input-addUser {
    width: 100%;
}

.AlertAddUser {
    width: 100%;
}

.imgUser-update {
    width: 30%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 2rem;

}


.AlertAssign{
    width: 80%;
}