.instractors-dataSection{
    margin-top: 6rem;
    padding: 3rem 0;

}

.container.instractors-table-containerr {
        padding: 4rem 0;
}

.sectionHeader.adminInstractor-header {
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.instractorTable {
    overflow: auto;
}

/*=====================update instractor==============================*/

.imgCourse-update{
    width: 30%;
        margin: 0 auto;
        border-radius: 10px;
        margin-bottom: 2rem;
}